node_modules/
/.idea/agile-connors.iml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
