@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

#header {
	position: absolute;
	top: 0; right: 0; left: 0;
	height: 50px;
	background: #254251;
	padding: 0 20px;
	z-index: 20;
}

#brand {
	float: left;
	font-weight: 600;
	font-size: 17px;
	line-height: 50px;
	color: #FFF;
}

#brand-secondary {
	color: #FFBC48;
}

.headerLocationSearchBox {
    height: 100%;
    line-height: 50px;
	margin: 0 0 0 20px;
}

#filter-controls {
	float: right;
	font-size: 12px;
}

.filter-controls-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-controls-item {
	float: left;
	line-height: 50px;
	margin-right: 10px;
}

.filter-controls-item:last-child {
	margin-right: 0;
}

.searchBar input[type='search'],
.filter-controls-item input[type='search'] {
	height: 30px;
	font-weight: 400;
	font-size: 12px;
	background: #FFF;
	padding: 0 8px;
	border-radius: 3px;
	border: none;
}

#location {
	width: 100px;
}

#distance {
	width: 50px;
}

#searchLocation,
#clearLocation {
	vertical-align: top;
	height: 30px;
}

.filter-controls-item select {
	height: 30px;
}

.searchbar {
	font-size: 12px;
	line-height: 25px;
	display: inline-block;
	margin-right: 4px;
}

.searchBar {
	display: inline-block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 12px;
}

.button-group {
	position: relative;
}

#map {
	position: absolute;
	top: 40px; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: 10;
}
