@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

#header {
	position: absolute;
	top: 0; right: 0; left: 0;
	height: 50px;
	background: #254251;
	padding: 0 20px;
	z-index: 20;
}

#brand {
	float: left;
	font-weight: 600;
	font-size: 17px;
	line-height: 50px;
	color: #FFF;
}

#brand-secondary {
	color: #FFBC48;
}

.topbar {
	float: right;
	font-size: 12px;
	line-height: 40px;
	display: inline-block;
}

.searchbar {
	font-size: 12px;
	line-height: 25px;
	display: inline-block;
	margin-right: 4px;
}

.headerTimePeriod {
	float: right;
	font-size: 12px;
	line-height: 40px;
	display: inline-block;
}

#all-days{
	display: inline-block;
}

.searchBar {
	display: inline-block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 12px;
}

.dropdown-menu{
	left: auto;
}

#map {
	position: absolute;
	top: 40px; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: 10;
}
